* {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

.h1 {
  color: black;
}

.superNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 25px;
}