* {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  background-color: white;
}

.h1 {
  color: #0290ff;
}

.superNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.navLinks {
  color: rgb(32, 31, 31);
  font-weight: 500;
}
